root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
insert_final_newline = true
disabled_rules = no-wildcard-imports,import-ordering,comment-spacing
ktlint_standard_import-ordering = disabled
[*.{kt,kts}]
ktlint_code_style = intellij_idea
ktlint_function_naming_ignore_when_annotated_with = Composable
ktlint_standard_trailing-comma-on-declaration-site = disabled
ktlint_standard_function-expression-body = disabled
ktlint_standard_trailing-comma-on-call-site = disabled
